[include mainsail.cfg]
[include macro.cfg]
[include shell_command.cfg]
[include custom_timelapse.cfg]
[include neopixel.cfg]
[include led_progress.cfg]
[include line_purge.cfg]
[include timelapse.cfg]
[include klicky_probe/klicky-probe.cfg]
[include speed_test.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_33FFD7055646303510791243-if00

[mcu host]
serial: /tmp/klipper_host_mcu

[mcu ebb]
canbus_uuid: aaf80f2ab946

[printer]
kinematics: corexy
max_velocity: 240
max_accel: 10000
max_z_velocity: 15
max_z_accel: 350
square_corner_velocity: 5.0

[stepper_x] # A-Motor
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
rotation_distance: 40
microsteps: 16
endstop_pin: ^ebb:PB6
position_endstop: 255
position_max: 255
position_min: -20
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 1.2
stealthchop_threshold: 999999

[stepper_y] # B-Motor
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
rotation_distance: 40
microsteps: 16
endstop_pin: ^PC1
position_endstop: 236
position_max: 236
position_min: -14
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 1.2
stealthchop_threshold: 999999

[stepper_z]
step_pin: PB0
dir_pin: !PC5
enable_pin: !PB1
rotation_distance: 4
microsteps: 16
endstop_pin: ^PC2
position_max: 300
position_min: -2
position_endstop:0

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.580
stealthchop_threshold: 999999

[extruder]
step_pin: PB3
dir_pin: !PB4
enable_pin: !PD2
microsteps: 16
rotation_distance: 4.7
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: ebb:PB13
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: ebb:PA3
min_temp: 0
max_temp: 290
min_extrude_temp: 170
max_extrude_only_distance: 500
pressure_advance: 0.05
max_extrude_cross_section: 5

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.8
stealthchop_threshold: 0

[heater_bed]
heater_pin: PC9
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC3
min_temp: 0
max_temp: 130

[temperature_sensor host_temp]
sensor_type: temperature_host
min_temp: 0
max_temp: 100

[fan] # Part Cooling Fan
pin: ebb:PA0

[heater_fan hotend_fan] # Heat Sink Fan
pin: ebb:PA1
max_power: 1.0
fan_speed: 1
kick_start_time: 0
heater: extruder
heater_temp: 50.0

[temperature_fan mcu_temp_fan]
pin: PC7
sensor_type: temperature_mcu
min_temp: 0
max_temp: 80
target_temp: 40
max_speed: 1.0
min_speed: 0.0
control: pid
pid_Kp: 2.0
pid_Ki: 5.0
pid_Kd: 0.5

[firmware_retraction]
retract_length: 1.0
retract_speed: 120
unretract_extra_length: 0
unretract_speed: 120

[pause_resume]

[display_status]

[exclude_object]

[gcode_arcs]
resolution: 0.1

[probe]
pin: ^ebb:PB8
x_offset: -1.5
y_offset: 29
z_offset: 8.1425
speed: 5
samples: 3 
samples_result: median
sample_retract_dist: 2.0
samples_tolerance: 0.025
samples_tolerance_retries: 3

[bed_mesh]
speed: 120
horizontal_move_z: 10
mesh_min: 20, 24
mesh_max: 210, 190
probe_count: 5, 3

[z_calibration]
nozzle_xy_position: 236, 236
switch_xy_position: 233, 210
bed_xy_position: 120, 120
wiggle_xy_offsets: 0,0
switch_offset: 0.32
offset_margins: -1.0,1.0
speed: 150
start_gcode: ATTACH_PROBE
end_gcode:

[adxl345]
cs_pin: ebb:PB12
spi_software_sclk_pin: ebb:PB10
spi_software_mosi_pin: ebb:PB11
spi_software_miso_pin: ebb:PB2
axes_map: x,y,z

[servo my_servo]
pin: host:gpio18
maximum_servo_angle: 180
minimum_pulse_width: 0.0006
maximum_pulse_width: 0.0024
initial_angle:90

[resonance_tester]
accel_chip: adxl345
probe_points: 120, 120, 25

[input_shaper]
shaper_freq_x: 66.0
shaper_freq_y: 43.8
shaper_type_x: mzv
shaper_type_y: zv

[bed_screws]
screw1: 35, 35
screw2: 200, 35
screw3: 200, 200
screw4: 35, 200

[virtual_sdcard]
path: /home/pi/printer_data/gcodes

[static_digital_output usb_pullup_enable]
pins: !PA14

[idle_timeout]
gcode:
  LIGHTS_OFF

# Mainsail variable config
[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos  : True  ; use custom park coordinates for x,y [True/False] 
variable_custom_park_x   : 117.5  ; custom x position; value must be within your defined min and max of X
variable_custom_park_y   : 0  ; custom y position; value must be within your defined min and max of Y
#variable_custom_park_dz   : 2.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
#variable_retract          : 1.0   ; the value to retract while PAUSE
#variable_cancel_retract   : 5.0   ; the value to retract while CANCEL_PRINT
#variable_speed_retract    : 35.0  ; retract speed in mm/s
#variable_unretract        : 1.0   ; the value to unretract while RESUME
#variable_speed_unretract  : 35.0  ; unretract speed in mm/s
#variable_speed_hop        : 15.0  ; z move speed in mm/s
#variable_speed_move       : 100.0 ; move speed in mm/s
variable_park_at_cancel   : True ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : 117  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : 234  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
#variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
#variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
#variable_runout_sensor    : ""    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
##                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
## !!! Custom macros, please use with care and review the section of the corresponding macro.
## These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
## Only  single line commands are supported, please create a macro if you need more than one command.
#variable_user_pause_macro : ""    ; Everything insight the "" will be executed after the klipper base pause (PAUSE_BASE) function
#variable_user_resume_macro: ""    ; Everything insight the "" will be executed before the klipper base resume (RESUME_BASE) function
#variable_user_cancel_macro: ""    ; Everything insight the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
gcode:

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 24.049
#*# pid_ki = 2.138
#*# pid_kd = 67.637
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 69.260
#*# pid_ki = 0.814
#*# pid_kd = 1472.640
